<div class="col-12 offset-0 col-md-6 offset-md-3">
  <div class="container my-3 pt-3 border shadow">
    <div class="row border-bottom">
      <div class="col-12 text-center p-2">
        <h1>Tax Estimator Calculator</h1>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-12 text-center p-2">
        <div class="row my-1">
          <div class="col-7">
            <h3>Tax Year</h3>
          </div>
          <div class="col">
            <select class="form-select w-75 m-auto text-center" [disabled]="taxesCalculated" [(ngModel)]="tax_year">
              <option>2023</option>
              <option>2022</option>
            </select>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-7">
            <h3>Filing Status</h3>
          </div>
          <div class="col">
            <select class="form-select w-75 m-auto text-center" [disabled]="taxesCalculated"
              [(ngModel)]="filing_status">
              <option>Single</option>
              <option>Married Filing Jointly</option>
              <option>Married Filing Separately</option>
            </select>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-7">
            <h3>Gross Income</h3>
          </div>
          <div class="col"><input type="tel" [disabled]="taxesCalculated" step="1000"
              class="text-center w-75 m-auto form-control" [(ngModel)]="gross_income" />
          </div>
        </div>
        <div class="row my-1">
          <div class="col-7">
            <h3>State</h3>
          </div>
          <div class="col">
            <select class="form-select w-75 m-auto text-center" [disabled]="true" [(ngModel)]="filing_state">
              <option>WV</option>
            </select>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-7">
            <h3>Self Employment Income</h3>
          </div>
          <div class="col">
            <button *ngIf="!hasSelfEmploymentIncome" [disabled]="taxesCalculated" class="btn btn-success w-50"
              (click)="toggleSelfEmploymentIncome()">Add</button>
            <input *ngIf="hasSelfEmploymentIncome" type="tel" [disabled]="taxesCalculated" step="1000"
              class="text-center w-75 m-auto form-control" [(ngModel)]="self_employment_income" />
          </div>
        </div>
        <div class="row my-1">
          <div class="col-7">
            <h3>401K (Traditional)</h3>
          </div>
          <div class="col">
            <button *ngIf="!hasRetirementContributions" [disabled]="taxesCalculated" class="btn btn-success w-50"
              (click)="toggleRetirementContributions()">Add</button>
            <input *ngIf="hasRetirementContributions" type="tel" [disabled]="taxesCalculated" step="1000"
              class="text-center w-75 m-auto form-control" [(ngModel)]="traditional_retirement_contributions" />
          </div>
        </div>
        <div class="row my-1">
          <div class="col-7">
            <h3>HSA Contributions</h3>
          </div>
          <div class="col">
            <button *ngIf="!hasHSAContributions" [disabled]="taxesCalculated" class="btn btn-success w-50"
              (click)="toggleHSAContributions()">Add</button>
            <input *ngIf="hasHSAContributions" type="tel" [disabled]="taxesCalculated" step="1000"
              class="text-center w-75 m-auto form-control" [(ngModel)]="hsa_contributions" />
          </div>
        </div>

        <div class="d-none">
          <div class="row my-2">
            <div class="col-8">
              <h3>Standard Deduction</h3>
            </div>
            <div class="col">
              <label class="form-control bg-secondary text-white">{{standard_deduction}}</label>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-8">
              <h3>Federal Taxable Income</h3>
            </div>
            <div class="col">
              <label class="form-control bg-secondary text-white">{{taxable_income}}</label>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-8">
              <h3>Standard Deduction (WV)</h3>
            </div>
            <div class="col">
              <label class="form-control bg-secondary text-white">2000</label>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-8">
              <h3>State Taxable Income</h3>
            </div>
            <div class="col">
              <label class="form-control bg-secondary text-white">{{state_taxable_income}}</label>
            </div>
          </div>
        </div>
        <div class="row border-top mt-2" *ngIf="!taxesCalculated">
          <div class="col-10 m-auto py-3">
            <button (click)="calculateTaxes()"
              [disabled]="!tax_year || !gross_income || !filing_status || !filing_state"
              class="btn w-100 btn-success p-2 fs-3">Calculate Taxes</button>
          </div>
        </div>
        <div class="row border-top mt-2" *ngIf="taxesCalculated">
          <div class="col-10 m-auto py-3">
            <h2 class="text-start text-decoration-underline">Estimates:</h2>
            <div class="w-100">
              <div class="row py-3">
                <div class="col">
                  <h3>Federal Taxes: </h3>
                </div>
                <div class="col">
                  <h3>{{ estimated_taxes | currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row py-3">
                <div class="col">
                  <h3>State Taxes: </h3>
                </div>
                <div class="col">
                  <h3>{{ estimated_state_taxes | currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row py-3">
                <div class="col">
                  <h3>Social Security Taxes: </h3>
                </div>
                <div class="col">
                  <h3>{{ estimated_social_security_taxes | currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row py-3">
                <div class="col">
                  <h3>Medicare Taxes: </h3>
                </div>
                <div class="col">
                  <h3>{{ estimated_medicare_taxes | currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                </div>
              </div>
            </div>
            <div class="w-100 d-none">
              <div class="row py-3">
                <div class="col">
                  <h3>Employer FICA Contrubtions: </h3>
                </div>
                <div class="col">
                  <h3>-{{ estimated_employer_fica_contribution | currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                </div>
              </div>
            </div>
            <hr />
            <div class="w-100">
              <div class="row py-3">
                <div class="col">
                  <h3>Total Taxes: </h3>
                </div>
                <div class="col">
                  <h3>{{ estimated_total_taxes | currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row py-3">
                <div class="col">
                  <h3>Net Income: </h3>
                </div>
                <div class="col">
                  <h3>{{ estimated_net_income | currency : 'USD' : 'symbol' : '1.0-0'}}</h3>
                </div>
              </div>
            </div>
            <button (click)="resetData()" class="btn w-100 btn-danger p-2 fs-4">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>