<div class="container my-3 border shadow">
  <div class="row border">
    <div class="col-12 text-center p-2">
      <h1>Tax Estimator Calculator</h1>
    </div>
  </div>
  <div class="row border">
    <div class="col-12 text-center p-2">
      <p>Enter your Gross Income & any expected Deductions you plan to take below.</p>
      <div class="row my-2">
        <div class="col-8">
          <h2>Gross Income</h2>
        </div>
        <div class="col"><input type="number" (change)="updateTaxableIncome()" step="1000"
            class="text-center form-control" [(ngModel)]="gross_income" />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-8">
          <h2>Filing Status</h2>
        </div>
        <div class="col">
          <select class="form-select text-center" (change)="updateStandardDeduction()" [(ngModel)]="filing_status">
            <option>Single</option>
            <option>Married Filing Jointly</option>
            <option>Married Filing Separately</option>
          </select>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-8">
          <h2>Standard Deduction</h2>
        </div>
        <div class="col">
          <label class="form-control">{{standard_deduction}}</label>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-8">
          <h2>Taxable Income</h2>
        </div>
        <div class="col">
          <label class="form-control">{{taxable_income}}</label>
        </div>
      </div>
      <div class="row border-top my-2" *ngIf="!taxesCalculated">
        <div class="col-10 m-auto py-3">
          <button (click)="calculateTaxes()" class="btn w-100 btn-success p-2 fs-3">Calculate Taxes</button>
        </div>
      </div>
      <div class="row border-top my-2" *ngIf="taxesCalculated">
        <div class="col-10 m-auto py-3">
          <div class="w-100">
            <div class="row py-3">
              <div class="col">
                <h2>Estimated Taxes: </h2>
              </div>
              <div class="col">
                <h2>{{ estimated_taxes | currency : 'USD' : 'symbol' : '1.0-0'}}</h2>
              </div>
            </div>
          </div>
          <button (click)="resetData()" class="btn w-100 btn-danger p-2 fs-4">Reset</button>
        </div>
      </div>
    </div>
  </div>

</div>
